
@{
    ViewBag.Title = "Game Page";
}

<h2>FPS Game:</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non iaculis lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in mattis purus. Maecenas est lorem, vulputate eget urna vitae, porta egestas orci. Sed bibendum elementum elementum. Aenean dui enim, congue vitae cursus in, tristique quis sem. Phasellus consectetur lobortis ipsum in semper. Quisque enim libero, iaculis id neque in, dapibus iaculis odio.

    Phasellus faucibus, tellus at euismod ultrices, ligula lacus sollicitudin leo, at faucibus ante lacus nec enim. Fusce eu sagittis dolor. In congue ipsum in justo posuere, vitae tempus metus tristique. Maecenas maximus a nisi in dignissim. Cras facilisis tellus vel urna convallis aliquam. Phasellus nec tincidunt augue. Fusce eget lacus ullamcorper, posuere tellus ut, tempor dui. Cras in est vulputate, sollicitudin nisi sed, lobortis eros. Pellentesque sed ante nulla. Suspendisse potenti.
</p>
