body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black !important;
}

.navbar div li a, .navbar a {
    color: darkred;
}

.dropdown-menu {
    background-color: black !important;
}

.navbar li a:hover  {
    color: indianred;
}

footer {
    background-color: black;
    padding: 1em;
}

footer > p {
    padding: 0;
    margin: 0;
    color: darkred;
}